body {
    background: white;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-family: Arial, sans-serif;
}

#all-contents {
    max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(102, 203, 250);
    margin: 0 auto;
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
}

h1 {
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-li {
    display: inline-block;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: #fff;
}

/* main container area beneath menu */
main {
    background: rgb(102, 203, 250);
    display: flex;
    margin-top: 20px;
}

.sidebar {
    background: rgb(102, 203, 250);
    margin-right: 25px;   
    padding: 15px;
}

.sidebar-img {
    width: 300px;
}

.content {
    flex: 1;
    padding: 35px;
}

/* interests section styles */


h2, h3 {
    margin: -5px;
}

#BlueBg {
    background-color: rgb(0, 153, 255)
}

#RedBg {
    background-color: rgb(255, 69, 69);
}

#PurpleBg {
    background-color: rgb(199, 101, 255);
}
/* Portfolio styles */
.content h1 {
    color: white;
}

#portfolio {
    list-style-type: none;
    padding-left: 0;
}

#portfolio li {
    background: rgb(0, 183, 255);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#portfolio li:hover {
    background: red;
}

#portfolio a {
    text-decoration: none;
    color: white;
}

